<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Messaging App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Messaging App</h1>
            <form method="POST" autocomplete="off">
                <table border="0" width="30%" align="left">
                    <tr>
                        <td><h3>Enter your email that you register with to reset your password</h3></td>   
                    </tr>
		<tr>
				<td>Email :</td>
 				<td><input type="text" name="email"><td>
 		</tr>
 		<tr>
 			<td></td>			
 			<td><input type="submit" value="Reset" ></td>
 		</tr>
 		<tr>
 			<td></td>
 			<td></td>
 		</tr>
 		<tr>
 			<td></td>	
			
			

 	</table>	
 
</form><br>
</div>
    </body>
</html>
