<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
        
    <head>
        <title>Messaging App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
<body>
	<div>
	<h1>Messaging App</h1>
	<form method="post" autocomplete="off" >
		<table border="0" width="50%" align="left">
			<tr>
				<td>User Name :</td>
				<td><input type="text" name ="username" required></td>
			</tr>
			<tr>
				<td> Name :</td>
				<td><input type="text" name ="name" required></td>
			</tr>
                        <tr>
				<td>Email :</td>
				<td><input type="text" name ="email" required></td>
			</tr>
			<tr>
				<td>Password :</td>
				<td><input type="password" name ="password" required></td>  
                        </tr>
			<tr>
				<td></td>
				<td><input type="submit"  name="btn-signup" value="Register"></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="index.html">Back to Login</a></td>
			</tr>			
		</table>
	</form>
	</div>
    <div style='text-align: right;position: fixed;z-index:9999999;bottom: 0; width: 100%;
         cursor: pointer;line-height: 0;'>
        
    </div></body>
</html>
